* {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

:root {
    --kyogre: #194E8A;
    --miku: #4ECDC4;
    --latte: #d6c898;
    --espresso: #685927;
    --latias: #FF6B6B;
    --black: #000000;
    --deepgrey: #313131;
    --smoke: #807f7f80;
    --deepsmoke: #807f7fbb;
    --lugia: #dddddd;
}

.main-body{
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-color: var(--deepsmoke);
}

.login-window,
.home,
.create-story-window,
.profile-window{
    padding-top: 10vh;
}

.login-window{
    text-align: center;
}

.login-box input,
.login-box button{
    margin: 1vh;
}

input{
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--deepgrey);
}

header a{
    margin: 1vh 1vw;
}

.home{
    text-align: center;
}

#madlibshome{
    color: white;
    text-decoration: none;
}

.nav-link {
    margin: 0 1vw;
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.2s;
    font-weight: bold;
}

.nav-link:hover{
    color: blueviolet;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deepsmoke);
    width: 100vw;
    height: 4vh;
    position: fixed;
    bottom: 0;
}

#githubsvg{
    display: flex;
    transition: ease-in-out .2s;
    color: black;
}

#githubsvg:hover{
    color: blueviolet;
}